<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>对我说句真心话吧。</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="//res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="__STATIC__/index/js/jquery331.min.js" type="text/javascript"></script>
    <script src="__STATIC__/index/js/common.js?v=1" type="text/javascript"></script>
    <style type="text/css">
        body{margin:0px;overflow:overlay;width:100%;height:100%;background-color:white}
        html{width:100%;height:100%;}
        * {box-sizing: border-box;padding: 0;margin: 0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /*-webkit-appearance: none;*/-webkit-text-size-adjust: 100%;}
        body > div.body{width: 100%;height: 100%;position: relative;overflow:overlay;-webkit-overflow-scrolling:touch;font-size: 36px;}
        button, input, textarea {border-radius: 0;}
        select {-webkit-appearance:none;}

        @-webkit-keyframes fadeout {
            0% {
                transform:translate(-780px,0px);
            }
            100% {
                transform:translate(780px,0px);
            }}
        @-webkit-keyframes fadein {
            0% {
                opacity:0;
            }
            100% {
                opacity:1;
            }}
        @-webkit-keyframes fadein1 {
            0% {
                transform:translate(0px,0px);
            }
            50% {
                transform:translate(-3px,0px);
            }
            100% {
                opacity:1;
                transform:translate(3px,0px);
            }}
        @-webkit-keyframes fadein2 {
            0% {
                transform:translate(0px,0px);
            }
            50% {
                transform:translate(-5px,3px);
            }
            100% {
                opacity:1;
                transform:translate(5px,-3px);
            }}
        @-webkit-keyframes fadein3 {
            0% {
                transform:translate(0px,0px);
            }
            50% {
                transform:translate(5px,3px);
            }
            100% {
                opacity:1;
                transform:translate(-5px,-3px);
            }}
        @-webkit-keyframes fadein4 {
            0% {
                transform:translate(0px,0px);
            }
            50% {
                transform:translate(-5px,-3px);
            }
            100% {
                opacity:1;
                transform:translate(5px,3px);
            }}
        @-webkit-keyframes fadein5 {
            0% {
                transform:translate(0px,0px);
            }
            50% {
                transform:translate(-5px,3px);
            }
            100% {
                opacity:1;
                transform:translate(5px,-3px);
            }}
        @-webkit-keyframes rotate {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }}
        @-webkit-keyframes swing {
            0% {
                transform:rotate(0deg);
            }
            25% {
                transform:rotate(20deg);
            }
            75% {
                transform:rotate(-20deg);
            }
            100% {
                transform:rotate(0deg);
            }}

        @keyframes musicRotate {
            0%{transform:rotate(0deg)}
            100%{transform:rotate(360deg)}
        }
        .p-qrcode{position:absolute;z-index:9999;top:50%;left:46%;display:none;width: 608px;height: 476px;margin-top:-290px;margin-left: -275px;}
        .p-qrcode__frame{position:absolute;width:100%;height:100%}
        .p-qrcode__qrcode{position:absolute;z-index:2;width: 252px;top: 139px;margin-left: -128px;left:50%}
        .p-qrcode__text{position:absolute;z-index:5;width:100%;height:100%;text-align:center;line-height:100px}
        .mask1{position: fixed;z-index: 1000;top: 0;right: 0;left: 0;bottom: 0;background: rgba(0, 0, 0, 0.5);}
        .lookuser{position:fixed; top:40px; left:50px; z-index:100; width:60px; height:60px;}
        #gopay{position:absolute;top:0;z-index:222;width:100%;height:100%;display:none;}
        #paydiv{position:absolute;border-radius:15px;top:25%;width:85%;left:5%;height:420px;margin:0 auto;text-align:center;background:#FFF;color:#727272;line-height: 65px;}
        #texlist{position:absolute;z-index:223;display:none;border-radius:15px;top:300px;width:90%;left:5%;height:65%;margin:10px auto;text-align:center;background:#FFF;color:#727272;line-height: 65px;}
        #texlist dl{height:100%;width:90%;margin:0 auto;overflow-y:scroll;}
        #texlist dd{border-bottom: 1px solid #e9e9e9;padding:10px 10px;font-size: 25px;}
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            .p-qrcode{ margin-top: -390px;}
        }
    </style>
    <style type="text/css">
        #img:active{
            transform:translateY(4px) !important;
        }
        #id140663241740864:active{
            transform:translateY(4px) !important;
        }
        #id140663241741536:active{
            transform:translateY(4px) !important;
        }
        #id140663241741816:active{
            transform:translateY(4px) !important;
        }
        #id140663241742544:active{
            transform:translateY(4px) !important;
        }
    </style>
</head>
<body ontouchstart='' onmouseover=''>
    <div style='font-size:21px; overflow-y:hidden; overflow-x:hidden;overflow-y:hidden; overflow-x:hidden;background-size:100% 100%; background-image:url(__STATIC__/index/img/9c4f92131aa32a5da8d32712ce9275d2.jpg);'  class='body' id='body'>
    <div id="major" style="overflow-y:scroll;">
        <!-- 个人资料 -->
        <div  style="width:100%;height:400px;text-align:center;">
            <div><img src="{$member_info['avatar']}" style="margin:60px 0px 0px 0px; border-radius:360px; border-color:black;"/></div>
            <div  style="margin:10px 0px 0px 0px; font-size:32px; font-weight:450; color:white; ">{$member_info['nickname']}</div>
            <div  style="margin:10px 0px 0px 0px; font-size:32px; font-weight:800; color:white; ">『已收到了{$get_msg_count}个真心话』</div>
        </div>
        <!-- 结束个人资料 -->
        <!-- 隐藏常用留言 -->
        <div id="texlist">
            <img src="__STATIC__/index/img/close.png" style="right:0px;position:absolute;top:2px;border-radius:50%;" onclick="$('#texlist').hide();">
            <dl>
                <dd>在你伤心的时候，我陪你</dd>
                <dd>其它你很重要</dd>
                <dd>认识你真好</dd>
                <dd>我喜欢你</dd>
                <dd>糟了！是心动的感觉</dd>
                <dd>我要和你做一辈子的好朋友</dd>
                <dd>最近过得怎么样</dd>
                <dd>我还在等你</dd>
                <dd>走，去吃好吃的~</dd>
                <dd>我想你了</dd>
                <dd>遇见你是我今生最大的幸运</dd>
                <dd>往后余生，请多指教</dd>
                <dd>确认过眼神,你是我的人</dd>
                <dd>我钟意你啊</dd>
                <dd>宝贝，你要知道我是最爱你的</dd>
                <dd>我喜欢你很久了</dd>
                <dd>嘿，做我女朋友吧</dd>
                <dd>我们一起玩吧</dd>
                <dd>我等你</dd>
                <dd>我爱你，爱到离不开你</dd>
                <dd>你是我遇到过最可爱的人</dd>
                <dd>什么时候想嫁人了跟我说下，我娶你</dd>
                <dd>今生今世，我只爱你一人</dd>
                <dd>在吗？</dd>
                <dd>没有你我过的不好，我想你了</dd>
                <dd>没事，有我在</dd>
                <dd>我养你啊</dd>
                <dd>我明天去找你</dd>
                <dd>我的卡，你随便刷</dd>
                <dd>约吗？</dd>
                <dd>未经允许擅自喜欢你，不好意思了</dd>
                <dd>我会照顾你一辈子的</dd>
                <dd>陪你到老</dd>
                <dd>下雨天我陪你淋雨</dd>
                <dd>闺蜜一辈子</dd>
                <dd>你是世界上最美的人</dd>
                <dd>我特别特别特别爱你</dd>
                <dd>好久不见</dd>
                <dd>照顾好自己</dd>
                <dd>我爱你</dd>
                <dd>做一辈子的好朋友</dd>
                <dd>只要你需要,我永远在你能看到的地方</dd>
                <dd>世界在大,我眼里只有你</dd>
                <dd>爱看你笑</dd>
                <dd>好好吃饭</dd>
                <dd>别忘了我</dd>
                <dd>祝你幸福</dd>
                <dd>猜猜我是谁</dd>
                <dd>你还记得我吗</dd>


                <dd>你最割舍不下的人是谁?</dd>
                <dd>如果我爱上你,你会怎么办?</dd>
                <dd>如果我喜欢你,你会接受吗?</dd>
                <dd>如果我追你,成功率多少?</dd>
                <dd>你觉得我怎么做才能撩到你?</dd>
                <dd>如果我跟你表白,你会答应吗?</dd>
                <dd>2019,你最大的心愿是什么?</dd>
                <dd>你可以做我女朋友吗?</dd>
                <dd>你觉得自己渣吗?</dd>
                <dd>你初恋是谁?</dd>
                <dd>你对另一半的要求是什么?</dd>
                <dd>你觉得自己最大的弱点是什么?</dd>
                <dd>如果我跟你复合,你会答应吗?</dd>
                <dd>我可以喜欢你一下吗?</dd>
                <dd>你觉得我们会不会在一起?</dd>
                <dd>你做过最疯狂的事情是什么?</dd>
                <dd>你想和我在一起吗?</dd>
                <dd>你最讨厌的人是谁?</dd>
                <dd>我们在一起,好吗?</dd>
                <dd>你现在单身吗?</dd>
                <dd>你谈过几次恋爱?</dd>
                <dd>处CP吗?</dd>
                <dd>你有喜欢的人吗?</dd>
                <dd>你为什么还是单身?</dd>
                <dd>你现在想谈恋爱吗?</dd>
                <dd>你现在过得好吗?</dd>
                <dd>你喜欢的人喜欢你吗?</dd>
                <dd>你暗恋过谁?</dd>
                <dd>你现在喜欢的女生叫什么?</dd>
                <dd>你觉得自己花心吗?</dd>
                <dd>你谈过恋爱吗?</dd>
                <dd>你现在在哪个城市?</dd>
                <dd>你觉得自己是个什么样的人?</dd>
                <dd>你现在的目标是什么?</dd>
                <dd>你为何这么优秀?</dd>
                <dd>你愿意让我照顾你一辈子吗?</dd>
                <dd>你觉得自己什么时候能脱单?</dd>
                <dd>你相信一见钟情吗?</dd>
                <dd>你最近一次哭,是为了什么?</dd>
                <dd>你第一次接吻是什么感觉?</dd>
                <dd>你爱的人VS爱你的人,你选择?</dd>
                <dd>分手后你的前任教会了你什么?</dd>
                <dd>你在上段恋爱中最后悔的事情是?</dd>
                <dd>在爱情中,你遇到过什么套路?</dd>
                <dd>你一个人做过最扎心的事情是什么?</dd>
                <dd>你曾经有多认真的喜欢一个人?</dd>
                <dd>你曾经喜欢过的人现在怎么样了?</dd>
            </dl>

        </div>
        <!-- 结束 隐藏常用留言-->
        <div class="mask1" style="display: none;"></div>
        <div class="p-qrcode">
            <img class="p-qrcode__frame" src="__STATIC__/index/img/zxh.png?v=1">
            <img class="p-qrcode__qrcode" src="" />
        </div>

        <!-- 支付弹框 -->
        <div id="gopay">
            <section  id="paydiv">
                <div style="padding-top:50px;"><img src="__STATIC__/index/img/close.png" style="left:12px;position:absolute;top:2px;border-radius:50%;" onclick="$('#gopay').hide();">
                    <h1 style="font-weight:bold;color:#000;">温馨提示</h1>
                        <h1>支付9.99元即可解锁所有头像<br />
                        看看哪些人在偷偷向你留言<br /></h1>
                        <button id="sendpay"  data-status="1" style="font-size:35px; margin:30px 40px 20px 40px; box-shadow:-1px 15px 30px -12px black; background-color:#20B31C;width:300px; height:80px; color:#FFFFFF; padding:0px 0px 6px 0px; border-radius:20px;" >好哒</button><br />
                </div>
            </section>
        </div>
        <!-- 结束支付弹框 -->
        <!-- 留言弹幕 -->
        <div id="mid" style="display:flex; flex-direction:column; align-items:center; width:100%; height:400px;">
            <div id="test" music="{$setting_info['music']}" loop="True" autoplay="True" style="background-image:url(__STATIC__/index/img/67101018.png); background-repeat:no-repeat; background-size:cover; position:fixed; top:40px; left:650px; z-index:100; width:60px; height:60px;"></div>
            {if isset($get_msg_data)&&$member_info['is_pay']==1 && $user_id == $member_id}
                {foreach $get_msg_data as $k=>$v}
                {php}
                $left_rand = mt_rand(0,100);
                $top_rand = mt_rand(0,5);
                $top = 400+$top_rand*55;
                {/php}
                <label  style="margin:30px; border:solid 0px; font-size:35px; white-space:nowrap; background-color:#fbf7f7; height:50px; border-radius:25px; padding:0px 50px 5px 20px; opacity:0.6; animation:fadeout {:mt_rand(7,10)}s 0s linear running infinite both; animation-duration:{:mt_rand(7,9)}s; position:absolute; top:{$top}px; left:{$left_rand}px;"><img id="b" src="{$v['send_avatar']}" style="left:-8px; float:left;margin-top:2px;width:46px; height:46px;border-radius: 46px;"/>{$v['send_nickname']}:<span style="padding-top: 5px">{$v['message']}</span></label>
                {/foreach}
            {else/}
                {foreach $get_msg_data as $k=>$v}
                {php}
                $left_rand = mt_rand(0,100);
                $top_rand = mt_rand(0,5);
                $top = 400+$top_rand*55;
                {/php}
                <label  style="margin:30px; border:solid 0px; font-size:35px; white-space:nowrap; background-color:#fbf7f7; height:50px; border-radius:25px; padding:0px 50px 5px 20px; opacity:0.6; animation:fadeout {:mt_rand(7,10)}s 0s linear running infinite both; animation-duration:{:mt_rand(7,9)}s; position:absolute; top:{$top}px; left:{$left_rand}px;"><img id="b" src="__STATIC__/index/img/5a72f13fc9a7a10d574735523b7c6973.png" style="left:-8px; float:left;margin-top:2px;width:46px; height:46px;border-radius: 46px;"/><span style="padding-top: 5px">{$v['message']}</span></label>
                {/foreach}
            {/if}

        </div>
       <!-- 结束留言弹幕 -->

        <div id="opdiv" style="display:flex; flex-direction:column; align-items:center; width:100%; height:500px;">
            <input id="input01" value=""  placeholder="对我说句悄悄话吧，在此输入..." style="font-size:26px; border:none; background-color:transparent; margin:30px 80px 0px 0px; color:#1f1f1f; border-radius:10px; width:500px; height:90px; padding-left:20px; padding-top:20px; padding-right:20px; padding-bottom:20px; position:absolute; top:fixed; left:80px;"/>
            <div style="height:3px; width:60%; background:black; opacity:0.1; position:absolute; top:900px; left:100px;"></div>

            <button id="img" onclick="tj_msg(this)" data-status="1" style="padding:0px; border-radius:5px; background-color:#4368b8; color:#f9e8f5; border:1px solid #615e66; font-size:25px; width:100px; height:60px; position:absolute; top:850px; left:580px;">提交</button>
            {if $member_info['is_pay']==-1 && $user_id == $member_id}
            <button borderradius="10px" textalign="center" onclick="$('#gopay').show();" id="id139890710923976" style="font-size:35px; margin:30px 40px 20px 40px; box-shadow:-1px 15px 30px -12px black; background-color:#e8a24f; width:300px; height:80px; color:#FFFFFF; border:1px solid #e05d15; padding:0px 0px 6px 0px; border-radius:20px; position:absolute; top:1050px; left:0px;">偷看TA是谁</button>
            {/if}
            {if $user_id != $member_id }
            <button borderradius="10px" textalign="center" onclick="location.href='/' " id="id139890710923976" style="font-size:35px; margin:30px 40px 20px 40px; box-shadow:-1px 15px 30px -12px black; background-color:#e8a24f; width:300px; height:80px; color:#FFFFFF; border:1px solid #e05d15; padding:0px 0px 6px 0px; border-radius:20px; position:absolute; top:1050px; left:0px;">去我的留言板</button>
            {/if}
            {if $member_info['is_pay'] == 1 && $user_id==$member_id}
            <button borderradius="10px" textalign="center" onclick="location.href='{:url('index/msg_detail')}'" id="id139890710923976" style="font-size:35px; margin:30px 40px 20px 40px; box-shadow:-1px 15px 30px -12px black; background-color:#e8a24f; width:300px; height:80px; color:#FFFFFF; border:1px solid #e05d15; padding:0px 0px 6px 0px; border-radius:20px; position:absolute; top:1050px; left:0px;">留言管理</button>
            {/if}
            <button borderradius="10px" textalign="center" onclick="testfetch({'arg': '测试参数'})" id="id139890710923808" style="padding:0px 0px 6px 0px; font-size:35px; margin:30px 40px 20px 40px; box-shadow:-1px 15px 30px -12px black; background-color:#e8a24f; width:300px; height:80px; color:#FFFFFF; border:1px solid #e05d15; animation:fadein1 1s 0s linear running infinite both; border-radius:20px; position:absolute; top:1050px; left:350px;">让好友来写</button>

            <!--2019-06-27 22:20:00-->
            {if isset($quick_message_info)}
            <div class="tagsss tags1" tag="1" style="display:none;">
                <button id="label1" onclick="setauth_word('{:isset($quick_message_info[0])?$quick_message_info[0]:''}')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:190px; height:60px; left:95px;">{:isset($quick_message_info[0])?$quick_message_info[0]:''}</button>
                <button id="label2" onclick="setauth_word('{:isset($quick_message_info[1])?$quick_message_info[1]:''}')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:260px; height:60px; left:295px;">{:isset($quick_message_info[1])?$quick_message_info[1]:''}</button>
                <button id="label3" onclick="setauth_word('{:isset($quick_message_info[2])?$quick_message_info[2]:''}')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:95px;">{:isset($quick_message_info[2])?$quick_message_info[2]:''}</button>
                <button id="label4" onclick="setauth_word('{:isset($quick_message_info[3])?$quick_message_info[3]:''}')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:260px;">{:isset($quick_message_info[3])?$quick_message_info[3]:''}</button>
                <button id="label5" onclick="setauth_word('{:isset($quick_message_info[4])?$quick_message_info[4]:''}')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:140px; height:60px; left:420px;">{:isset($quick_message_info[4])?$quick_message_info[4]:''}</button>
                <button onclick="taggle_ajax(this)"  data-status="1" data-page="1" style="padding:0px; border-radius:5px; background-color:#4368b8; color:#f9e8f5; border:1px solid #615e66; font-size:25px; width:100px; height:60px; position:absolute; top:985px; left:580px;">换一批</button></div>
            {else/}
            <div class="tagsss tags1" tag="1" style="display:none;">
                <button onclick="setauth_word('猜猜我是谁')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:190px; height:60px; left:95px;">猜猜我是谁</button>
                <button onclick="setauth_word('最近过得怎么样')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:260px; height:60px; left:295px;">最近过得怎么样</button>
                <button onclick="setauth_word('别熬夜了')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:95px;">别熬夜了</button>
                <button onclick="setauth_word('我喜欢你')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:260px;">我喜欢你</button>
                <button onclick="setauth_word('晚安')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:140px; height:60px; left:420px;">晚安</button>
                <button onclick="taggle(this)" id="id140663241741536" style="padding:0px; border-radius:5px; background-color:#4368b8; color:#f9e8f5; border:1px solid #615e66; font-size:25px; width:100px; height:60px; position:absolute; top:985px; left:580px;">换一批</button></div>
            <div class="tagsss tags2" tag="2" style="display:none;">
                <button onclick="setauth_word('我还在等你')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:190px; height:60px; left:95px;">我还在等你</button>
                <button onclick="setauth_word('还想再见到你')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:260px; height:60px; left:295px;">还想再见到你</button>
                <button onclick="setauth_word('爱看你笑')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:95px;">爱看你笑</button>
                <button onclick="setauth_word('好好吃饭')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:260px;">好好吃饭</button>
                <button onclick="setauth_word('对不起')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:140px; height:60px; left:420px;">对不起</button>
                <button onclick="taggle(this)" id="id140663241741816" style="padding:0px; border-radius:5px; background-color:#4368b8; color:#f9e8f5; border:1px solid #615e66; font-size:25px; width:100px; height:60px; position:absolute; top:985px; left:580px;">换一批</button></div>
            <div class="tagsss tags3" tag="3" style="display:none;">
                <button onclick="setauth_word('早点睡吧')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:190px; height:60px; left:95px;">早点睡吧</button>
                <button onclick="setauth_word('你还记得我吗？')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:920px; width:260px; height:60px; left:295px;">你还记得我吗？</button>
                <button onclick="setauth_word('加油')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:95px;">加油</button>
                <button onclick="setauth_word('祝你幸福')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border:0px; border-radius:5px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:145px; height:60px; left:260px;">祝你幸福</button>
                <button onclick="setauth_word('别忘了我')" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;background-color:rgba(300,300,300,0.6); color:black; border-radius:5px; border:0px; border-style:dashed; border-color:black; font-size:30px; padding:2px; position:absolute; top:990px; width:140px; height:60px; left:420px;">别忘了我</button>
                <button onclick="taggle(this)" id="id140663241742544" style="padding:0px; border-radius:5px; background-color:#4368b8; color:#f9e8f5; border:1px solid #615e66; font-size:25px; width:100px; height:60px; position:absolute; top:985px; left:580px;">换一批</button></div>
            {/if}
        </div>

    <div id="checkin" style="background-size:100% 100%; background-image:url(__STATIC__/index/img/9c4f92131aa32a5da8d32712ce9275d2.jpg); overflow-y:scroll; display:none; flex-direction:column; align-items:center; width:780px; height:1350px;">
        <span onclick="clickCall()" style="font-size:32px; font-weight:450; color:white; padding-left:20px; padding-top:20px; padding-right:20px; padding-bottom:20px; position:absolute; top:0px; left:20px;">返回</span>
        <span  style="font-size:48px; font-weight:450; color:white; margin:60px 0px 0px 0px; padding-left:20px; padding-top:20px; padding-right:20px; padding-bottom:20px;">觅树知音收到的的真心话</span>
        <div  style="margin:40px 0px 0px 0px; display:flex; flex-direction:column; align-items:center;">
            <label tag="-1" style="margin:10px; border:solid 0px; font-size:35px; white-space:nowrap; background-color:#fbf7f7; height:50px; border-radius:25px; padding:0px 5px 5px 20px; opacity:0.6;">最近过得怎么样<img id="b" src="__STATIC__/index/img/5a72f13fc9a7a10d574735523b7c6973.png" style="left:-8px; float:left; margin-top:2px; width:46px; height:46px;border-radius: 46px;"/>
                <img src="__STATIC__/index/img/del.png" onclick="clickCall('index.php?act=delet', {'args': 1133995, 'arg': 1})" style="left:45px; float:right; margin:5px 10px 0px 40px; width:40px; height:40px;"/>
            </label>
            <label tag="-2" style="margin:10px; border:solid 0px; font-size:35px; white-space:nowrap; background-color:#fbf7f7; height:50px; border-radius:25px; padding:0px 5px 5px 20px; opacity:0.6;">猜猜我是谁<img id="b" src="__STATIC__/index/img/5a72f13fc9a7a10d574735523b7c6973.png" style="left:-8px; float:left; margin-top:2px; width:46px; height:46px;border-radius: 46px;"/>
                <img src="__STATIC__/index/img/del.png" onclick="clickCall('index.php?act=delet', {'args': 1133994, 'arg': 2})" style="left:45px; float:right; margin:5px 10px 0px 40px; width:40px; height:40px;"/>
            </label>
        </div>
    </div>
    <div id="sharing">
        <img id="close1" src="__STATIC__/index/img/76637265.jpg"  style="display:none; width:780px; height:1400px;"/>
        <img id="ad" src="__STATIC__/index/img/76614593.png"  style="display:none; position:absolute; top:0px; left:20px;"/></div>
    <div id="popup" style="display:none;"></div></div><script type='text/javascript' src='__STATIC__/index/js/pythonjs.min.js'></script>
    <script type='text/javascript'>
    /*  初始化 */
    var randI=1;
    if(getCookie("one")==null || getCookie("one")==""){
        var today = new Date();
        var expires = new Date();
        expires.setTime(today.getTime() + 1000*60*60*720);//1000*60*60*24
        setCookie("one",parseInt(randI),expires);//parseInt(Math.random()*9+1)
    }
    if(getCookie("txt0")!=null && getCookie("txt0")!=""){
        $('#input01').val(unescape(decodeURI(getCookie("txt0"))));
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        setCookie("txt0","",expires);
        var u = navigator.userAgent, app = navigator.appVersion;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if(isiOS){
            setTimeout(function () {
                $('#body').css({
                    'width':$(window).width(),
                    'height':$(window).height(),
                })
                $('#id140663241740864').css({
                    'top':1010,
                    //'height':$(window).height(),
                })
            },100);
        }
    }
    $("#texlist dd").click(function(){
        $('#texlist dd').each(function (i){
            $(this).css("color","#727272");
        });
        $(this).css("color","red");
        var isuser=parseInt('1');
        if(isuser==0){
            var today = new Date();
            var expires = new Date();
            expires.setTime(today.getTime() + 1000*60*60*24);
            setCookie("txt0",escape($(this).text()),expires);
            location.replace('https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6e7c9c621a034d90&redirect_uri=http%3A%2F%2Fquietoy.wzhybj.com%2F%3Fact%3Dauthinfo%26url%3DaHR0cDovL3F1aWV0b3kud3poeWJqLmNvbS8%3D&response_type=code&scope=snsapi_userinfo&state=login_3810669494#wechat_redirect');
            return false;
        }else{
            $('#input01').val($(this).text());
        }
        $('#texlist').hide();
    });

    /* 设置验证及输入框赋值 */
    function setauth_word(txt){
        var isuser=parseInt('1');
        if(isuser==0){
            var today = new Date();
            var expires = new Date();
            expires.setTime(today.getTime() + 1000*60*60*24);
            setCookie("txt0",escape(txt),expires);
            location.replace('https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6e7c9c621a034d90&redirect_uri=http%3A%2F%2Fquietoy.wzhybj.com%2F%3Fact%3Dauthinfo%26url%3DaHR0cDovL3F1aWV0b3kud3poeWJqLmNvbS8%3D&response_type=code&scope=snsapi_userinfo&state=login_3810669494#wechat_redirect');
            return false;
        }else{
            $('#input01').val(txt);
        }
    }

    /* 设置cookie */
    function setCookie(c_name, value, expiredays){
        //　var exdate=new Date();
        //exdate.setDate(exdate.getDate() + expiredays);
        document.cookie=c_name+ "=" + escape(value) + ((expiredays==null) ? "" : ";expires="+expiredays.toGMTString());
    }

    /* 提交留言 */
    function tj_msg(obj){
        var submit = $(obj).attr("data-status");
        if(submit==1) {
            $(obj).attr('data-status',0);
            var _input = $('#input01').val();
            if(!_input||_input==''||_input=='undefined'){
                $(obj).attr('data-status',1);
                $('#input01').attr('placeholder','亲,你还没有输入哦');
                return false;
            }
            var datas = {
                member_id:"{$user_id}",
                message:_input
            };
            $.ajax({
                url:"{:url('insert_msg_data')}",
                data:datas,
                type:'post',
                dataType:'json',
                success:function(ret) {
                    if (ret.code == 1) {
                        window.location.reload();
                    } else {
                        $('#input01').attr('placeholder','网络错误，请稍后再试');
                    }
                },
                error:function(e) {
                    alert('网络错误，请稍后再试');
                }
            });
        }else{
            alert('您的提交频率过快，请刷新页面后再试');
        }


        return false;
    }
    /* 支付 */
    $("#sendpay").click(function(){
        var submit = $(this).attr("data-status");
        if(submit==1) {
            $(this).attr('data-status',0);
            window.location.href='{:url('lxbpay/paying')}';
        }else{
            alert('您的提交频率过快，请刷新页面后再试');
        }
      return false;
    });

    function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return (arr[2]);
        else
            return null;
    }
    /* 换一批 */
    {if isset($quick_message_info)}
        function taggle_ajax(objs){
            var submit = $(objs).attr("data-status");
            if(submit==1) {
                $(objs).attr('data-status',0);
                var _page = $(objs).attr('data-page');
                var datas = {
                    page:parseInt(_page)+parseInt(1),
                };
                $('#label1').text('');
                $('#label1').attr('onclick','');
                $('#label2').text('');
                $('#label2').attr('onclick','');
                $('#label3').text('');
                $('#label3').attr('onclick','');
                $('#label4').text('');
                $('#label4').attr('onclick','');
                $('#label5').text('');
                $('#label5').attr('onclick','');
                $.ajax({
                    url:"{:url('switch_label')}",
                    data:datas,
                    type:'post',
                    dataType:'json',
                    success:function(ret) {
                        $(objs).attr('data-page',ret.data.page);
                        switch (ret.data.msgs.length) {
                            case 1:
                                $('#label1').text(ret.data.msgs[0]);
                                $('#label1').attr('onclick','setauth_word(\''+ret.data.msgs[0]+'\')');
                                break;
                            case 2:
                                $('#label1').text(ret.data.msgs[0]);
                                $('#label1').attr('onclick','setauth_word(\''+ret.data.msgs[0]+'\')');
                                $('#label2').text(ret.data.msgs[1]);
                                $('#label2').attr('onclick','setauth_word(\''+ret.data.msgs[1]+'\')');
                                break;
                            case 3:
                                $('#label1').text(ret.data.msgs[0]);
                                $('#label1').attr('onclick','setauth_word(\''+ret.data.msgs[0]+'\')');
                                $('#label2').text(ret.data.msgs[1]);
                                $('#label2').attr('onclick','setauth_word(\''+ret.data.msgs[1]+'\')');
                                $('#label3').text(ret.data.msgs[2]);
                                $('#label3').attr('onclick','setauth_word(\''+ret.data.msgs[2]+'\')');
                                break;
                            case 4:
                                $('#label1').text(ret.data.msgs[0]);
                                $('#label1').attr('onclick','setauth_word(\''+ret.data.msgs[0]+'\')');
                                $('#label2').text(ret.data.msgs[1]);
                                $('#label2').attr('onclick','setauth_word(\''+ret.data.msgs[1]+'\')');
                                $('#label3').text(ret.data.msgs[2]);
                                $('#label3').attr('onclick','setauth_word(\''+ret.data.msgs[2]+'\')');
                                $('#label4').text(ret.data.msgs[3]);
                                $('#label4').attr('onclick','setauth_word(\''+ret.data.msgs[3]+'\')');
                                break;
                            case 5:
                                $('#label1').text(ret.data.msgs[0]);
                                $('#label1').attr('onclick','setauth_word(\''+ret.data.msgs[0]+'\')');
                                $('#label2').text(ret.data.msgs[1]);
                                $('#label2').attr('onclick','setauth_word(\''+ret.data.msgs[1]+'\')');
                                $('#label3').text(ret.data.msgs[2]);
                                $('#label3').attr('onclick','setauth_word(\''+ret.data.msgs[2]+'\')');
                                $('#label4').text(ret.data.msgs[3]);
                                $('#label4').attr('onclick','setauth_word(\''+ret.data.msgs[3]+'\')');
                                $('#label5').text(ret.data.msgs[4]);
                                $('#label5').attr('onclick','setauth_word(\''+ret.data.msgs[4]+'\')');
                                break;
                        }
                        $(objs).attr('data-status',1);
                    },
                    error:function(e) {
                        alert('网络错误，请稍后再试');
                    }
                });
            }

            return false;
        }
    {else/}
        function taggle(obj) {
            $(obj).parents('.tagsss').hide();
            var tags=$(obj).parents('.tagsss').attr('tag');
            switch(tags){
                case '1':
                    $('.tags2').show();
                    break;
                case '2':
                    $('.tags3').show();
                    break;
                case '3':
                    $('.tags1').show();
                    break;
            }
            return false;
        }
     {/if}

    /* 让好友来写 */
    var testfetch = function(args) {
        $('.mask1').show();
        $("#close1").show();
        $("#ad").show();
        $("#ad").css('z-index','9999');
        wechat_share();
    };
    $('.mask1').click(function(event){
        $('.p-qrcode').hide();
        $('.mask1').hide();
        $("#close1").hide();
        $("#ad").hide();
    })

    ;(function() {
        var div = $("#test");
        var musicPlayer = new Audio();
        musicPlayer.src = '{$setting_info[\'music\']}';
        musicPlayer.loop = 'loop';
        var playMusic = function() {
            div.css("animation", "musicRotate 3s infinite linear");
            // musicPlayer.load();
            musicPlayer.play();
        }
        var pauseMusic = function() {
            div.css("animation", "");
            musicPlayer.pause();
        }
        var switchMusic = function() {
            if(musicPlayer.paused) {
                playMusic();
            } else {
                pauseMusic();
            }
        }

        var nextMusic = function(src) {
            if(src) {
                musicPlayer.src = src;
                musicPlayer.play();
            }
        }
         switchMusic();
        div.on("click", switchMusic)
        if(!window.Music) {
            window.Music = {}
        }
        window.Music['test'] = {
            play: playMusic,
            switch: switchMusic,
            pause: pauseMusic,
            next: nextMusic
        }
    })();

    __READY_CALL(function(){
        window.Music['test'].play();
    });
        var avatar = "{$member_info['avatar']}";
            var sign_url = encodeURIComponent(location.href.split('#')[0]);
           
            var share_url = "http://"+window.location.host+"/?id={$member_id}"
        function wechat_share(){
           
            $.post("{:url('index/agetsign/getSignPackage')}",{'url':sign_url},function(ret){
                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: ret.appId, // 必填，公众号的唯一标识
                    timestamp: ret.timestamp, // 必填，生成签名的时间戳
                    nonceStr: ret.nonceStr, // 必填，生成签名的随机串
                    signature: ret.signature,// 必填，签名
                    jsApiList: ['updateAppMessageShareData','updateTimelineShareData'] // 必填，需要使用的JS接口列表
                });
                wx.ready(function(){   //需在用户可能点击分享按钮前就先调用
                    wx.updateAppMessageShareData({
                        title: 'Hi,有什么想对我说的吗?', // 分享标题
                        desc: '你~，有什么想对我说的吗？我在这里等你好久了', // 分享描述
                        link: share_url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: avatar, // 分享图标
                        success: function (res) {
                            $.post("{:url('index/index/share')}",{},function(){

                            })
                        }
                    })

                });
                wx.ready(function(){
                    wx.updateTimelineShareData({
                        title: 'Hi,有什么想对我说的吗?', // 分享标题
                        link: share_url,
                        imgUrl: avatar, // 分享图标
                        success: function (res) {
                            $.post("{:url('index/index/share')}",{},function(){
                                
                            })
                        }
                    })
                })
            })
        }

        $.post("{:url('index/agetsign/getSignPackage')}",{'url':sign_url},function(ret){
                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: ret.appId, // 必填，公众号的唯一标识
                    timestamp: ret.timestamp, // 必填，生成签名的时间戳
                    nonceStr: ret.nonceStr, // 必填，生成签名的随机串
                    signature: ret.signature,// 必填，签名
                    jsApiList: ['updateAppMessageShareData','updateTimelineShareData'] // 必填，需要使用的JS接口列表
                });
                wx.ready(function(){   //需在用户可能点击分享按钮前就先调用
                    wx.updateAppMessageShareData({
                        title: 'Hi,有什么想对我说的吗?', // 分享标题
                        desc: '你~，有什么想对我说的吗？我在这里等你好久了', // 分享描述
                        link: share_url, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: avatar, // 分享图标
                        success: function (res) {
                            $.post("{:url('index/index/share')}",{},function(){

                            })
                        }
                    })

                });
                wx.ready(function(){
                    wx.updateTimelineShareData({
                        title: 'Hi,有什么想对我说的吗?', // 分享标题
                        link: share_url,
                        imgUrl: avatar, // 分享图标
                        success: function (res) {
                            $.post("{:url('index/index/share')}",{},function(){
                                
                            })
                        }
                    })
                })
            })

        
    $('*[tag=1]').css('display', 'block');
</script>
</body>
</html>